<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div  class="header">
    <div class="top layoutMid clear">
        <h1 class="logo fl"><a class="pngFix" href="javascript:;"></a></h1>
        <a class="toggle_nav" href="javascript:;"></a>
        <ul class="main_nav fl clear">
            <li><a href="javascript:;">首页</a></li>
            <li><a href="javascript:;">学习</a></li>
            <li><a class="current" href="/LUPDP/info">资讯</a></li>
            <li><a href="javascript:;">问答</a></li>
        </ul>
        <div class="user fr">
            <a class="clear" href="javascript:;"><span class="user_head fl"><img src="/img/user_head.jpg"><i class="notice_num pngFix">1</i></span><span class="user_name fl">maxiaoning</span></a>
            <ul class="sub_menu clear">
                <li class="icoTop"><span></span></li>
                <li><a href="javascript:;">我的主页</a></li>
                <li><a href="javascript:;">消息(1)</a></li>
                <li><a href="javascript:;">设置</a></li>
                <li><a class="log_out" href="javascript:;">退出</a></li>
            </ul>
        </div>
        <div class="log_res fr">
            <a href="javascript:;">登录/注册</a>
        </div>
        <div class="queation fr"><a href="javascript:;">提问</a></div>
        <div class="search pr fr clear">
            <input type="text" class="fl" placeholder="请输入关键字" />
            <a class="search_btn pngFix" href="javascript:;">搜索</a>
            <div class="search_box">
                <dl>
                    <dt>课程</dt>
                    <dd><a href="javascript:;"><em>《<span class="orange">保险</span>业发展与前景》</em><i>赞(28)</i><i>课程时长：128分钟</i></a></dd>
                    <dd><a href="javascript:;"><em>《<span class="orange">保险</span>业发展与前景》</em><i>赞(28)</i><i>课程时长：128分钟</i></a></dd>
                    <dd><a href="javascript:;"><em>《<span class="orange">保险</span>业发展与前景》</em><i>赞(28)</i><i>课程时长：128分钟</i></a></dd>
                    <dt>问答</dt>
                    <dd><a href="javascript:;"><em><span class="orange">保险</span>的作用是什么？前景是什么前景是什么前景是什么前景是什么前景是什么前景是什么前景是什么前景是什么前景是什么前景是什么前景是什么前景是什么？</em><i>4个回答</i></a></dd>
                    <dd><a href="javascript:;"><em><span class="orange">保险</span>的作用是什么？前景是什么前景是什么前景是什么前景是什么前景是什么前景是什么？</em><i>4个回答</i></a></dd>
                    <dd><a href="javascript:;"><em><span class="orange">保险</span>的作用是什么？前景是什么前景是什么前景是什么前景是什么前景是什么前景是什么？</em><i>4个回答</i></a></dd>
                    <dt>资讯</dt>
                    <dd><a href="javascript:;"><em><span class="orange">保险</span>业发展与前景发展与前景发展与前景发展与前景发展与前景发展与前前景发展与前景发展与前前景发展与前景发展与前景发</em><i>赞(28)</i><i>评论(28)</i></a></dd>
                    <dd><a href="javascript:;"><em><span class="orange">保险</span>业发展与前景发展与前景发展与前景发展与前景发展与前景发展与前景发</em><i>赞(28)</i><i>评论(28)</i></a></dd>
                    <dd><a href="javascript:;"><em><span class="orange">保险</span>业发展与前景发展与前景发展与前景发展与前景发展与前景发展与前景发</em><i>赞(28)</i><i>评论(28)</i></a></dd>
                    <dt>用户</dt>
                    <dd class="search_user"><a class="clear" href="javascript:;"><img src="/img/zone_pic02.jpg"><em><span class="orange">保险</span>人</em><br><i>梦由心动，跟我走吧，开心不由你！</i></a></dd>
                    <dd class="search_user"><a class="clear" href="javascript:;"><img src="/img/zone_pic02.jpg"><em><span class="orange">保险</span>人</em><br><i>梦由心动，跟我走吧，开心不由你！</i></a></dd>
                    <dd class="search_user"><a class="clear" href="javascript:;"><img src="/img/zone_pic02.jpg"><em><span class="orange">保险</span>人</em><br><i>梦由心动，跟我走吧，开心不由你！</i></a></dd>
                </dl>
                <p><a href="javascript:;">查看全部搜索结果</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>