<%- include('common.html') %>
<body ms-controller="projectFunc">
<div class="page-container">
    <%- include('sidebar.html') %>
    <!--/content-inner-->
    <div class="left-content">
        <div class="mother-grid-inner">
            <!--header start here-->
            <%- include('header.ejs') %>
            <!--heder end here-->
            <!--inner block end here-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index">Home</a> <i class="fa fa-angle-right"></i></li>
            </ol>

            <h2>可以操作的项目为</h2>
            <div class="four-grids">
                <div class="col-md-3 four-grid">
                    <a href="/OAMP/projectFuncDetails/23456">
                        <div class="four-agileits">
                            <div class="icon">
                                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                            </div>
                            <div class="four-text">
                                <h4>保宝网</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 four-grid">
                    <a href="/OAMP/projectFuncDetails/12345">
                        <div class="four-agileinfo">
                            <div class="icon">
                                <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
                            </div>
                            <div class="four-text">
                                <h4>执业证</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 four-grid">
                    <a href="/OAMP/projectFuncDetails/2345">
                        <div class="four-w3ls">
                            <div class="icon">
                                <i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>
                            </div>
                            <div class="four-text">
                                <h4>保宝APP</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <!--inner block end here-->
            <!--copy rights start here-->
            <div class="inner-block">
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<!--COPY rights end here-->
<%- include('footer.html') %>
</body>

<script data-main="/control/pagemodule/projectFunc.module" src="/lib/require.2.3.2.js"></script>
