<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ms-controller="pu">

<div>
    <table>
        <tr>
            <td>
                项目名称:保宝网
            </td>
            <td>
                当前运行版本:v100.001
            </td>
            <td>
                <input type="text" name="fullUpdateVersion" value="请输入更新的版本">
                <button>全量更新</button>
            </td>
            <td>
                <input type="text" name="increaseUpdateVersion" value="请输入更新的版本">
                <button>增量更新</button>
            </td>
            <td>
                <div style="float:left">请选择回滚版本号</div>
                <div style="float:left">
                    <select name="0">
                        <option value="0"></option>
                        <option value="1">400</option>
                        <option value="2">397</option>
                        <option value="3">395</option>
                        <option value="4">387</option>
                    </select>
                    <button>回滚</button>
                </div>

            </td>
        </tr>
        <tr>
            <td>
                项目名称:保宝网
            </td>
            <td>
                当前运行版本:v100.001
            </td>
            <td>
                <input type="text" name="fullUpdateVersion" value="请输入更新的版本">
                <button>全量更新</button>
            </td>
            <td>
                <input type="text" name="increaseUpdateVersion" value="请输入更新的版本">
                <button>增量更新</button>
            </td>
            <td>
                <select name="0">
                    <option value="1"></option>
                    <option value="1">400</option>
                    <option value="2">397</option>
                    <option value="3">395</option>
                    <option value="4">387</option>
                </select>
                <button>回滚</button>
            </td>
        </tr>
    </table>
    <!--<table>
        <tr>
            <td>
                <ul>
                    <li>111144</li>
                    <li>{{@testResult}}</li>
                    <li ms-for="(projectsInfo, el) in @projectsInfo">{{projectsInfo}}-{{el}}</li>
                    <li ms-for="el in @projectsInfo">{{el}}</li>
                    &lt;!&ndash;<li ms-for="el in @projectsInfo">{{el.projectName}}</li>&ndash;&gt;
                </ul>
                <ul>
                    <li>5555555</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>111144</li>
                    <li>{{@testResult}}</li>
                    <li ms-for="(projectsInfo, el) in @projectsInfo">{{projectsInfo}}-{{el}}</li>
                    <li ms-for="el in @projectsInfo">{{el}}</li>
                    &lt;!&ndash;<li ms-for="el in @projectsInfo">{{el.projectName}}</li>&ndash;&gt;
                </ul>
            </td>
            <td>
               &lt;!&ndash; <wbr ms-widget="{is:'ms-autocomplete', $id: 'aaa', name: 'community_id', communities :@communities}" />&ndash;&gt;
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>111144</li>
                    <li>{{@testResult}}</li>
                    <li ms-for="(projectsInfo, el) in @projectsInfo">{{projectsInfo}}-{{el}}</li>
                    <li ms-for="el in @projectsInfo">{{el}}</li>
                    &lt;!&ndash;<li ms-for="el in @projectsInfo">{{el.projectName}}</li>&ndash;&gt;
                </ul>
            </td>
            <td>
                &lt;!&ndash; <wbr ms-widget="{is:'ms-autocomplete', $id: 'aaa', name: 'community_id', communities :@communities}" />&ndash;&gt;
            </td>
        </tr>
    </table>-->
</div>
</body>
</html>

<script data-main="/control/pagemodule/projectUpdate.module" src="/lib/require.2.3.2.js"></script>
