<%- include('common.html') %>
<body ms-controller="projectFuncDetails">
<div class="page-container">
    <%- include('sidebar.html') %>
    <!--/content-inner-->
    <div class="left-content">
        <div class="mother-grid-inner">
            <!--header start here-->
            <%- include('header.ejs') %>
            <!--heder end here-->
            <!--inner block end here-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index">Home</a> <i class="fa fa-angle-right"></i></li>
            </ol>

            <div class="agile-grids">
                <div class="agile-tables">
                    <div class="w3l-table-info">
                        <h2>版本控制</h2>
                        <table id="table">
                            <thead>
                            <tr>
                                <th style="width: 20%;text-align: center">操作</th>
                                <th style="width: 20%;text-align: center">操作版本</th>
                                <th style="width: 20%;text-align: center">更新进度</th>
                                <th style="width: 20%;text-align: center">更新状态</th>
                                <th style="width: 20%;text-align: center">输出信息</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>
                                    <p style="text-align: center"><a href="javascript:;">更新</a></p>
                                </td>
                                <td>
                                    <p style="text-align: center"><input style="width: 80%" type="number"
                                                                         name="updateVersion" value="请输入版本"
                                                                         step="0.001"></p>

                                </td>

                                <td>
                                    <div style="border: 3px solid;width:80%;height:20px;line-height:100%;margin: auto;background-color: #48FF15 ">
                                        <p style="background-color:#FF171D;height:100%;width:20%;"></p>
                                    </div>
                                </td>
                                <td style="text-align: center">
                                    更新中
                                </td>
                                <td>
                                    <p style="text-align: center"><a href="javascript:;">控制台信息</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="text-align: center"><a href="javascript:;">撤回</a></p>
                                </td>
                                <td>

                                    <div style="text-align: center">
                                        <select name="rollbackVersion" style="padding: 0;width: 80%;margin: auto">
                                            <option value="0">126</option>
                                            <option value="1" selected="selected">124</option>
                                            <option value="2">122</option>
                                            <option value="3">120</option>
                                            <option value="4">118</option>
                                        </select>
                                    </div>

                                </td>
                                <td>
                                    <div style="border: 3px solid;width:80%;height:20px;line-height:100%;margin:auto;background-color: #48FF15 ">
                                        <p style="background-color:#FF171D;height:100%;width:35%;"></p>
                                    </div>
                                </td>
                                <td style="text-align: center">
                                    更新中
                                </td>
                                <td>
                                    <p style="text-align: center"><a href="javascript:;" onclick="xx()">控制台信息</a></p>
                                    <script>
                                        function xx() {
                                            alert("控制台信息");
                                        }
                                    </script>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <p style="text-align: center"><a href="javascript:;">撤回</a></p>
                                </td>
                                <td>

                                    <div style="text-align: center">
                                        <select name="rollbackVersion" style="padding: 0;width: 80%;margin: auto">
                                            <option value="0">126</option>
                                            <option value="1" selected="selected">124</option>
                                            <option value="2">122</option>
                                            <option value="3">120</option>
                                            <option value="4">118</option>
                                        </select>
                                    </div>

                                </td>
                                <td>
                                    <div style="border: 3px solid;width:80%;height:20px;line-height:100%;margin:auto;background-color: #48FF15 ">
                                        <p style="background-color:#FF171D;height:100%;width:35%;"></p>
                                    </div>
                                </td>
                                <td style="text-align: center">
                                    更新中
                                </td>
                                <td>
                                    <p style="text-align: center"><a href="javascript:;" onclick="xx()">控制台信息</a></p>
                                    <script>
                                        function xx() {
                                            alert("控制台信息");
                                        }
                                    </script>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="agile-grids">
                <div class="agile-tables">
                    <div class="w3l-table-info">
                        <h2>项目控制</h2>
                        <table id="table">
                            <tbody>
                            <tr>
                                <td>
                                    更新
                                </td>
                                <td>
                                    请输入版本号
                                </td>
                                <td>
                                    更新进度
                                </td>
                                <td>
                                    控制台信息
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    更新
                                </td>
                                <td>
                                    请输入版本号
                                </td>
                                <td>
                                    更新进度
                                </td>
                                <td>
                                    控制台信息
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--inner block end here-->
            <!--copy rights start here-->
            <div class="inner-block">
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<!--COPY rights end here-->
<%- include('footer.html') %>
</body>

<script data-main="/control/pagemodule/projectFuncDetails.module" src="/lib/require.2.3.2.js"></script>
