<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ms-controller="test">
<div ms-click="@test">{{@testResult}}</div>
<div ms-click="@searchDB">{{@searchResult}}</div>
<div ms-click="@insertDB">{{@insertResult}}</div>
<div ms-click="@updateDB">{{@updateResult}}</div>
<div ms-click="@deleteDB">{{@deleteResult}}</div>
<div ms-click="@getUserSessionInfo">{{@userSessionInfo}}</div>
</body>
</html>

<script data-main="/control/pagemodule/test.module" src="/lib/require.2.3.2.js"></script>